/*styles.css of my first landing page*/

* {
    box-sizing: border-box;
}

body {
    font-family:  Roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: lightgray;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


#imageButton, #bannerButton {
    background-color: #3882F6;
    color: whitesmoke;
    font-weight: 550;
    border-radius: 8px;
    height: 30px;
    width: 95px;
    text-align: center;
    justify-content: center;
}


.headerSection, footer {
    background-color: #1F2937;
    display: flex;
}


/*Header*/
.headerSection {
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    justify-content: space-around;
}

.listHead{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:16px;
}

#headerLogo{
    margin: 0;
    font-size: 32px;
    color: whitesmoke;
    font-weight: 600;
}

/*ImageSection*/
.imageSection {
    background-color: #1F2937;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex: 0 2 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 72px 0px;
}

#imageBlockLeft{
    display: flex;
    flex-direction: column;
    text-wrap: pretty;
    flex: 0 2 400px;
}

#imageBlockLeftTitle{
    font-size: 50px;
    font-weight: 600;
}

#imageBlockRight{
    display: flex;
    flex: 0 2 400px;
    background-color: blue;
}

#imageButton{
    border: 0px solid black;
}

/*InfoSection*/
.infoSection {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#listItems{
    list-style-type: none;
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
    flex-wrap: wrap;
}

.randomImg{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


.imgList{
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.textImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    text-align: center;
}

/*quoteSection*/
.quoteSection{
    background-color: #E5E7EB ;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#citation{
    display: flex;
    flex: 1 1 300px;
    max-width: 800px;
    justify-content: center;
    align-items: center;
}

#authorship {
    display: flex;
    justify-content: flex-end;
    font-weight: 300;
    font-style: normal;
    flex: 1 1 1;
}

/*Banner*/
.bannerSection {
    display: flex;
    justify-content: center;
    padding: 120px;
}

#bannerDelim {
    background-color:#3882F6;
    color: whitesmoke;
    padding: 36px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex: 0 1 1000px;
}

#bannerTitle {
    font-weight: 600;
    font-size: 24px;
}

#bannerButton {
    border: 2px solid whitesmoke;
}


/*footer*/
footer {
    flex-direction: column;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    padding: 1%;
}