/*styles.css of my first landing page*/

body {
    font-family:  Roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: lightgray;
}

h1{
    font-size: 50px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

h2{
    font-size: 36px;
}

button {
    background-color: #3882F6;
    color: whitesmoke;
    font-weight: 550;
    border-radius: 8px;
    height: 30px;
    width: 95px;
    text-align: center;
    justify-content: center;
}


.header, footer {
    background-color: #1F2937;
    display: flex;
    flex: 1 1 auto;
    padding-left: 15%;
    padding-right: 15%;
}


/*Header*/
#headerLogo{
    color: whitesmoke;
    font-weight: 900;
}

.header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.listHead{
    padding: 8px;
}

/*ImageBlock*/
.imageBlock {
    background-color: #1F2937;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 10%;
    padding-left: 15%;
    padding-right: 15%;
    
}

#imageBlockLeft{
    display: flex;
    flex-direction: column;
    text-wrap: pretty;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 400px;
}

#imageBlockRight{
    display: flex;
    height: 250px;
    width: 600px;
    background-color: blue;
}

/*randomInfo*/
.randomInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#listItems{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 24px;
    padding: 0px;
}

.randomImg{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


.imgList{
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.textImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    text-align: center;
}

/*quote*/
.quoteSection{
    background-color: #E5E7EB ;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#citation{
    display: flex;
    flex: 1 1 300px;
    max-width: 800px;
    justify-content: center;
    align-items: center;
}

#authorship {
    display: flex;
    justify-content: flex-end;
    font-weight: 300;
    font-style: normal;
    flex: 1 1 1;
}

/*Banner*/
.bannerSection {
    display: flex;
    justify-content: center;
    padding: 120px;
}

#bannerDelim {
    background-color:#3882F6;
    color: whitesmoke;
    padding: 36px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 750px;
}

#bannerTitle {
    font-weight: 600;
    font-size: 24px;
}

#bannerButton {
    border-color: 2px solid whitesmoke;
}


/*footer*/
footer {
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    padding: 1%;
}